html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/main.css")
  body#body
    .global-container.mb-8

      .main-header-container
        .main-header
          .main-header-logo-section
            img.main-logo-sm(src="images/logo-sm.svg")
          .main-header-menu-section
            .main-menu
              .main-menu-item Magazine
              .main-menu-item Jobs
              .main-menu-item Hot List
              .main-menu-item.active Architecture
              .main-menu-item Interiors
              .main-menu-item Design
              .main-menu-item Technology
              .main-menu-item Movies
              .main-menu-item Comments

          .main-header-search-section
            .main-menu-item Search

      .main-logo-section
        img.main-logo(src="images/logo.svg")

      .article-section
        .article-container
          .article-meta-section
            .main-meta Bridget Cogley | 17 September 2017
            | 5 comments
          .article-title
            | Expansive deck divides levels of Canadian cliffside house by Alain Carle
          div.mb-4
            | Canadian firm Alain Carle Architecte has built a sustainable house in the mountains of Quebec as a retreat from modern conveniences. La Héronnière by Alain Carle Located in the Laurentian Mountains, La Héronnière sits atop large rocks overlooking a forest. The clients chose the site based on the natural surroundings.
          
          .article-img-expanded-wrapper
            img.article-img-expanded.mb-4(src="images/article-1.png")

          div.mb-4 Polished concrete floors, black accessories, and other cool-toned furnishings decorate the interior. To add warmth, ceilings are clad in a blonde wood and a large carpet covers the floors. Stairs off the kitchen lead to a below-grade nook with a high-top eating and work table running along a glazed wall. A green house, office, storage unit and audio-recording room are also located in the lower section.
          
          img.article-img-left.mb-4(src="images/article-2.png")
          .mb-1 On top, the black-clad structure accommodates a den, master suite, guest bedroom and bathroom, with a separate biomass system to the west with a solar-powered roof. Underneath, an open-plan living room and kitchen are divided by a dining table. "The house has been designed to be able to function almost completely autonomously," said studio founder Alain Carle. 
          div A large part of the home's energy comes from photovoltaic panels. Neighbouring pines protect the house from wind. "Exempt from a magnetic field or wireless devices, the house reflects the owners' desire to occupy a harmonious and 'symbiotic' way where the site is perceived as the 'host'," Carle said.
          
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
      
    
    script(type='text/javascript').
      var scrollpos = window.scrollY;
      var header = document.getElementById("body");
      function add_class_on_scroll() {
          header.classList.add("scrolled");
      }
      function remove_class_on_scroll() {
          header.classList.remove("scrolled");
      }
      window.addEventListener('scroll', function(){ 
          //Here you forgot to update the value
          scrollpos = window.scrollY;
          if(scrollpos > 60){
              add_class_on_scroll();
          }
          else {
              remove_class_on_scroll();
          }
          console.log(scrollpos);
      });